.div-mes-competences {
    position: absolute;
    width: 100%;
    height: 893.5px;
    top: 2853.5px;
    background-color: #140B6A;
    opacity: 81%;
    clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 100%);
}

.titre-mes-competences {
    position: absolute;
    top: 100px;
    left: 41px; 
    font-size: 5vw;
}

.ul-mes-competences {
    position: absolute;
    top: 300px;
    left: 90px;
    color: white;
    font-size: 1.8vw;
    font-family: 'Rozha One', serif;
}

.icon-python {
    position: absolute;
    top: 2999px;
    left: 65%;
}

.icon-java {
    position: absolute;
    top: 3099px;
    left: 75%;
}

.icon-linux {
    position: absolute;
    top: 3200px;
    left: 66%;
}

.icon-react {
    position: absolute;
    top: 3059px;
    left: 87%;
}

.icon-javascript {
    position: absolute;
    top: 3200px;
    left: 87%;
}

.icon-html {
    position: absolute;
    top: 3355px;
    left: 75%;
}

.icon-r {
    position: absolute;
    top: 3340px;
    left: 89%;
}

.icon-css {
    position: absolute;
    top: 3470px;
    left: 64%;
}

.icon-github {
    position: absolute;
    top: 3502px;
    left: 85%;
}

.icon-sql {
    position: absolute;
    top: 3600px;
    left: 73%;
}

/* ------ Responsive for mobile devices ---------- */
@media screen and (min-width: 300px) and (max-width: 600px){
    
    .div-mes-competences {
        top: 3180px;
        height: 750px;
    }

    .titre-mes-competences {
        top: 110px;
        left: 20px;
        font-size: 35px;
    }

    .ul-mes-competences {
        top: 190px;
        left: 10px;
        font-size: 15px;
    }

    .icon-python {
        position: absolute;
        top: 3699px;
        left: 2em;
        width: 10%;
        height: 10%;
    }
    
    .icon-java {
        position: absolute;
        top: 3699px;
        left: 6em;
        width: 15%;
        height: 15%;
    }
    
    .icon-linux {
        position: absolute;
        top: 3710px;
        left: 16em;
        width: 15%;
        height: 15%;
    }
    
    .icon-react {
        position: absolute;
        top: 3799px;
        left: 1em;
        width: 15%;
        height: 15%;
    }
    
    .icon-javascript {
        position: absolute;
        top: 3699px;
        left: 12em;
        width: 10%;
        height: 10%;
    }
    
    .icon-html {
        position: absolute;
        top: 3790px;
        left: 12em;
        width: 15%;
        height: 15%;
    }
    
    .icon-r {
        position: absolute;
        top: 3810px;
        left: 18em;
        width: 15%;
        height: 15%;
    }
    
    .icon-css {
        position: absolute;
        top: 3670px;
        left: 20em;
        width: 15%;
        height: 15%;
    }
    
    .icon-github {
        position: absolute;
        top: 3785px;
        left: 6em;
        width: 15%;
        height: 15%;
    }
    
    .icon-sql {
        position: absolute;
        top: 3750px;
        left: 20em;
        width: 15%;
        height: 15%;
    }
}

/* ------ Responsive for Ipad devices ---------- */
@media screen and (min-width: 700px) and (max-width: 830px){

    .div-mes-competences {
        top: 3153.5px;
        height: 680px;
    }

    .titre-mes-competences {
        font-size: 35px;
    }

    .ul-mes-competences {
        top: 200px;
        left: 30px;
        font-size: 20px;
    }

    .icon-python {
        position: absolute;
        top: 3299px;
        left: 29em;
        width: 7%;
        height: 7%;
    }
    
    .icon-java {
        position: absolute;
        top: 3399px;
        left: 34em;
        width: 7%;
        height: 7%;
    }
    
    .icon-linux {
        position: absolute;
        top: 3290px;
        left: 35em;
        width: 7%;
        height: 7%;
    }
    
    .icon-react {
        position: absolute;
        top: 3499px;
        left: 40em;
        width: 7%;
        height: 7%;
    }
    
    .icon-javascript {
        position: absolute;
        top: 3599px;
        left: 32em;
        width: 7%;
        height: 7%;
    }
    
    .icon-html {
        position: absolute;
        top: 3350px;
        left: 40em;
        width: 7%;
        height: 7%;
    }
    
    .icon-r {
        position: absolute;
        top: 3510px;
        left: 32em;
        width: 7%;
        height: 7%;
    }
    
    .icon-css {
        position: absolute;
        top: 3670px;
        left: 40em;
        width: 7%;
        height: 7%;
    }
    
    .icon-github {
        position: absolute;
        top: 3585px;
        left: 39em;
        width: 7%;
        height: 7%;
    }
    
    .icon-sql {
        position: absolute;
        top: 3700px;
        left: 30em;
        width: 7%;
        height: 7%;
    }

}