.div-mes-projets {
    position: absolute;
    width: 100%;
    top: 2400px;
    height: 500px;
}

.h1-div-mes-projets {
    position: absolute;
    left: 30%;
    font-size: 40px;
    font-family: 'Rozha One', serif;
    color:black;
}

.card-java {
    position: absolute;
    left: 2%;
    top: 100px;
    
}

.card-react-js {
    position: absolute;
    left: 35%;
    top: 100px;
}

.card-python {
    position: absolute;
    left: 68%;
    top: 100px;
}

#card {
    background-color: #140B6A;
    opacity: 27%;  
    width: 29.5%;
    height: 50%;
}

#card-title {
    font-family: 'Rozha One', serif;
    text-align: center;
    font-size: 30px;
    color: white;
}

#card-text {
    font-family: 'Rozha One', serif;
    color: white;
    text-align: center;
    padding: 40px;
}

@keyframes moveCard {
    from {
        width: 0%;
    }  
}

#card:hover {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .5);
}

/* ------ Responsive for mobile devices ---------- */
@media screen and (min-width: 300px) and (max-width: 600px){

    .h1-div-mes-projets {
        top: 50px;
        left: 10%;
        font-size: 25px;
    }

    #card {
        width: 60%;
        height: 35%;
    }

    #card-text {
        padding: 0px;
    }

    .card-java {
        top: 135px;
        left: 18%;
    }

    .card-react-js {
        top: 355px;
        left: 18%;
    }

    .card-python {
        top: 575px;
        left: 18%;
    }
}

/* ------ Responsive for Ipad devices ---------- */
@media screen and (min-width: 600px) and (max-width: 830px){

    .div-mes-projets {
        top: 2253px;
        height: 600px;
    }

    .h1-div-mes-projets {
        left: 20%;
        top: -150px;
        font-size: 5vw;
    }

    #card {
        width: 60%;
        left: 20%;
        height: 35%;
    }

    #card-text {
        padding: 0px;
    }

    .card-java {
        top: 0px;
        left: 18%;
    }

    .card-react-js {
        top: 235px;
        left: 18%;
    }

    .card-python {
        top: 475px;
        left: 18%;
    }

}