.switch-button {
    position: absolute;
    top: 30px;
    right: 70px;
    z-index: 10;
}

.App {
    width: auto;
    height: auto;
}




/* ------ Responsive for mobile devices ---------- */
@media screen and (min-width: 300px) and (max-width: 600px){
    .switch-button {
        top: 10px;
        right: 10px;
        font-size: 10px;
    }
}